*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans',sans-serif;

}

.definicion{
    object-fit: cover;
}
.navbar-dark .navbar-nav .nav-link.colorVerde{
    color:green;
}
.contenedor{
    margin-left: 20%;
    margin-right: 20%;
}
#fondo {
    background-color: black;
}

.contenedor{
    margin-left: 20%;
    margin-right: 20%;
}

.degradado{
    background-color: #002231;
background-image: linear-gradient(90deg, #002231 0%, #1871ab 100%);
}

#verde{
    background-color: #29ab18;
}
#gris{
    background-color: rgb(31, 29, 29);
}